In [ ]:
from pyspark.sql.functions import lit, udf, col, split
from pyspark.sql import functions as F
import pyspark

In [ ]:
authors = spark.read.csv(
    '/Volumes/pyspark_lessions/files/sample_files/library/authors.csv',
    inferSchema=True,
    header=True
)
authors_pd = authors.toPandas()
display(authors_pd.head())
display(authors_pd.tail())

In [ ]:
authors = authors.withColumn('FIRST_NAME', col=split(col('AUTHOR_NAME'), ' ')[0])
authors = authors.withColumn('Age',col=lit(30)+col('AUTHOR_ID'))
display(authors)

In [ ]:
books = spark.read.csv(
'/Volumes/pyspark_lessions/files/sample_files/library/books.csv',
inferSchema=True,
header=True
)
books_pd = books.toPandas()
books_pd.head()

In [ ]:
books = books.withColumn("BOOK_COST", F.col("BOOK_COST").cast("double"))
books = books.withColumn("BOOK_DISCOUNT",F.col("BOOK_DISCOUNT").cast("double"))
books.printSchema()

In [ ]:

### This fails because the column contains some string data.
### How do we fix it.
books.withColumn(
    "BOOK_SELLING_PRICE",
    col("BOOK_COST") * (1 - col("BOOK_DISCOUNT"))
).display()